
*{
  background: #fefae0;
}

body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.sticky{
  position: fixed;
  width: 100%;
}

.site-header {
  display: flex;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  right: 0px;
  z-index: 1;
}

#logo-stack{
  display: none;
}

#logo-title{
  height: 45px
}
#logo{
  height: 50px
}
.PhoWMeLogo {
  padding-left: 4%;
}

#call>img{
  height: 50px;
}

.nav-bar {
  display: flex;
  gap: 50px; 
  align-items: right;
  overflow: hidden;
  padding-top:50px;
}

li {
  list-style-type: none;
  padding: none; 
  margin: none;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: x-large;
  color: black; 
  transition: 0.1s ease-in-out;
}

.nav-link:hover{
  color: rgb(89, 6, 6);
  font-weight: 600;
}


#call>img{
  height:35px
}

button{
  border: none;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width:25px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #3a474d;
}

@media only screen and (max-width: 880px) {
  .site-header {
    display: flex;
    height: 3vh;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  #logo-title{
    height: 35px
  }
  #logo{
    height: 40px
  }

  .PhoWMeLogo {
    padding-left: 5%;
  }

  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(10px) rotate(40deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-10px) rotate(-40deg);
  }

  .nav-bar{
    position: fixed;
    right: -100%;
    top: 60px;
    gap:0;
    flex-direction: column;
    background-color: #fefae0;
    text-align: center;
    transition: 0.5s;
  }

  .nav-item{
    margin: 15px 0;
  }

  .nav-bar.active{
    width: 40%;
    right: 0;
    margin: 0;
  }
}