
*{
  background: #fefae0;
}

body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  height: 5vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  /* background-color: red; */
}
.PhoWMeLogo {
  display:flex; 
  width: fit-content;
  align-items: flex-end;
  gap: 10px;
}

.PhoWMeLogo img {
  height: 50px;
}

.nav-bar {
  display: flex;
  align-self: flex-end;
  /* background-color: blue; */
  gap: 50px; 
}

li {
  list-style-type: none;
  padding: none; 
  margin: none;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: x-large;
  color: black; 
}








